 .swapnil{
    border: 1px solid purple;
    text-align: center;
    background-color: chartreuse
}
.audi{
    border: 2px solid black;
    background-color: chocolate;
}


/* #para{
    color: aquamarine;
}
#paraAudi{
    color: blue;
} */


/* p{
    text-align: center;
}

h2{
    text-align: center;
} */
/* p, h2{
    text-align: center;
}

#parasection{
    background-color: red;

} */